@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-------------*/
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("☺"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaB';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("☺"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
}

.top {
  position: relative;
  width: 100vw;
  height: 675px;
  min-height: 100vh;
  background: url("../src/wood_22.jpg") center/cover no-repeat;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  height: 10vh;
}

.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__burger__board {
  height: 1px;
  background-color: #bea67c;
  margin: 2px;
}

.header__third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.header__third a {
  color: #ffffff;
}

.header__menus {
  opacity: 0.5;
  font-family: "ProximaNova";
  font-size: 10px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.header__third_left {
  margin-left: 1.2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 5%;
}

.header__third_center {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 49%;
          flex: 1 1 49%;
  max-width: 49%;
}

.header__center_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 57.5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 14%;
}

.header__center_img img {
  width: 50%;
}

.header__center__menu {
  width: 42.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__center__menu a:nth-child(even) {
  margin-left: 5%;
}

.header__third_right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 5.7%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 5%;
          flex: 1 1 5%;
  margin-right: 1.5%;
}

.header__right__info {
  width: 17px;
  height: 17px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #bea67c;
  border-radius: 50%;
}

.header__right__triangle {
  width: 0;
  margin-left: 10%;
  border-top: 2px solid #bea67c;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}

.header__right__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5%;
}

.wooder__container {
  margin: 0 auto;
  height: 72.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 900px;
}

.wooder__left {
  position: relative;
  width: 16%;
  padding-top: 13%;
  min-width: 0;
}

.wooder__left .slick-arrow {
  display: none;
  position: absolute;
  top: 15%;
  z-index: 10;
  font-size: 0;
}

.wooder__left .slick-prev {
  height: 30px;
  width: 30px;
  background: url(../src/slick_left.png) 0 0/cover no-repeat;
}

.wooder__left .slick-next {
  right: 0;
  height: 30px;
  width: 30px;
}

.slider-container {
  min-width: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-container img {
  padding: 5% 0;
}

.slick-track {
  display: block;
}

.slick-list {
  overflow: hidden;
}

/* Точки (булиты) */
.wooder__left .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25% 31%;
}

.wooder__left .slick-dots li {
  list-style: none;
  margin: 8px 0px;
}

/* Активная точка */
.wooder__left .slick-dots li.slick-active button {
  opacity: 1;
  background-color: #bea67c;
}

/* Элемент точки */
.wooder__left .slick-dots li button {
  font-size: 0;
  width: 6px;
  height: 6px;
  opacity: 0.2;
  background-color: #bea67c;
  border-radius: 50%;
}

.wooder__center {
  width: 50%;
  padding-left: 13.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wooder__center__head {
  font-family: 'ProximaNovaB';
  font-size: 65px;
  line-height: 65px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bea67c;
  padding-bottom: 7%;
}

.wooder__center__learn {
  padding: 0 0 10% 1%;
  width: 115%;
}

.wooder__center__learn a {
  font-family: 'ProximaNova';
  font-size: 9px;
  line-height: 49px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #ffffff;
  border: 2px solid #fff;
  padding: 3% 17% 3% 14.5%;
  background: url(../src/arrow_right.png) 78% 50% no-repeat;
}

.wooder__center__bottom {
  padding: 1.5% 0 3.5% 1%;
}

.wooder__center__bottom a img {
  width: 4.3%;
}

.wooder__right {
  width: 30%;
  opacity: 0.2;
  font-family: "ProximaNova";
  font-size: 9.7px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
  color: #a9946e;
}

.wooder__right__rotate {
  white-space: nowrap;
  white-space: pre;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 45%;
  right: 0;
  padding-right: 12px;
}

.wooder__share {
  position: absolute;
  right: 20px;
  bottom: 16px;
}

.wooder__f {
  position: absolute;
  left: 18%;
  bottom: -22.5%;
  opacity: 0.07;
  font-family: "ProximaNovaB";
  font-size: 260px;
  line-height: 312px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bea67c;
}

.wooder__board {
  position: absolute;
  right: 18.8%;
  bottom: -2.1%;
  width: 2px;
  height: 33px;
  background-color: #bea67c;
}

.furniture__container {
  border: 1px solid transparent;
  width: 65%;
  margin: 0 auto;
  height: 410px;
  min-height: 65vh;
  position: relative;
  padding: 3.9% 0 0 0;
}

.furniture__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}

.furniture__half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.furniture__half:first-child {
  padding: 0 0 1.9% 0;
}

.furniture__half:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 51.5%;
          flex: 0 0 51.5%;
  background: url(../src/furniture.png) 0 0/101% auto no-repeat;
}

.furniture__row_top {
  font-family: "ProximaNovaB";
  font-size: 33px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #010101;
  padding-left: 36.5%;
  background: url(../src/board__furniture.png) 8.5% 45%/26% auto no-repeat;
}

.furniture__row_cent {
  border: 1px solid transparent;
  font-family: "ProximaNova";
  font-size: 10.1px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding: 1.3% 0 1.7% 36.5%;
  background: url(../src/m_board__furniture.png) 26.5% 20%/7.5% auto no-repeat;
  color: #464646;
  word-wrap: break-word;
}

.furniture__row_bot {
  margin-left: 36.5%;
}

.furniture__row_bot a {
  display: inline-block;
  color: #000;
  font-family: 'ProximaNovaB';
  font-size: 10px;
  width: 49%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  padding: 3% 3% 3% 1%;
  background: url(../src/arrow__furniture.png) 4px 11px/85% 50% no-repeat;
}

.furniture__number {
  position: absolute;
  left: 4.4%;
  bottom: 16.5%;
  font-family: 'ProximaNovaB';
  font-size: 23.5px;
  line-height: 71px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
}

.furniture__number span {
  color: #bea67c;
}

.furniture__board {
  position: absolute;
  left: 6%;
  bottom: -1.2%;
  width: 2px;
  height: 33px;
  background-color: #bea67c;
}

.furniture__big {
  position: absolute;
  right: -53.4%;
  top: 16%;
  opacity: 0.2;
  font-family: 'ProximaNovaB';
  font-size: 110px;
  line-height: 251px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #d0d0d0;
}

.decor__container {
  width: 64.5%;
  margin: 0 auto;
  height: 400px;
  min-height: 65vh;
  position: relative;
  padding: 6.1% 0 0 0;
}

.decor__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}

.decor__half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.decor__half:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 51.5%;
          flex: 0 0 51.5%;
  margin-left: 1%;
  background: url(../src/furniture_2.png) 0 0/101% auto no-repeat;
}

.decor__half:last-child {
  padding: 0 0 2.1% 0;
}

.decor__row_top {
  border: 1px solid transparent;
  font-family: "ProximaNovaB";
  font-size: 33px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #010101;
  padding-right: 33.5%;
  background: url(../src/board__furniture.png) 93.5% 45%/40.4% 5% no-repeat;
}

.decor__row_cent {
  display: inline-block;
  font-family: "ProximaNova";
  text-align: right;
  max-height: 55px;
  overflow: hidden;
  font-size: 10.1px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding: 1.3% 33.5% 0 17%;
  background: url(../src/m_board__furniture.png) 77% 23%/8% auto no-repeat;
  color: #464646;
}

.decor__row_bot {
  border: 1px solid transparent;
  margin: 2% 32.5% 0 0;
  min-width: 30%;
}

.decor__row_bot a {
  border: 1px solid transparent;
  display: inline-block;
  color: #000;
  font-family: 'ProximaNovaB';
  font-size: 10px;
  font-weight: 700;
  width: 100%;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  padding: 4% 3% 3% 1%;
  background: url(../src/arrow__furniture.png) 2px 6px/90% 60% no-repeat;
}

.decor__number {
  position: absolute;
  right: 1.8%;
  bottom: 7.5%;
  font-family: 'ProximaNovaB';
  font-size: 23.5px;
  line-height: 71px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
}

.decor__number span {
  color: #bea67c;
}

.decor__d {
  position: absolute;
  right: -11.5%;
  top: -30.4%;
  opacity: 0.07;
  font-family: "ProximaNovaB";
  font-size: 260px;
  line-height: 312px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bea67c;
}

.decor__board {
  position: absolute;
  right: 4.8%;
  bottom: -3.9%;
  width: 3px;
  height: 33px;
  background-color: #bea67c;
}

.decor__big {
  position: absolute;
  left: -27.4%;
  top: 23%;
  opacity: 0.2;
  font-family: 'ProximaNovaB';
  font-size: 110px;
  line-height: 251px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #d0d0d0;
}

.quality__container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quality__header {
  font-family: 'ProximaNovaB';
  font-size: 33px;
  line-height: 71px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #000000;
  padding: 9.4% 0 11px 1.2%;
}

.quality__board {
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: #bea67c;
}

.quality__board_big {
  top: 132px;
  left: 48.9%;
  width: 28px;
  height: 3px;
}

.quality__text {
  text-align: center;
  max-width: 370px;
  font-family: 'ProximaNova';
  font-size: 9.7px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #636262;
  padding: 0 0 0 1.5%;
}

.quality__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quality__column__img img {
  width: 90%;
}
