@import "_nullstyle";
// Шрифты
//@import url(https://fonts.googleapis.com/css?family=Federant:regular);
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: local('☺'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaB';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: local('☺'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
//Шрифты
//Шаблоны
/*  media
@media (min-width: 1220px) {}
@media (max-width: 1000px) {}
@media (max-width: 768px) {}
@media (max-width: 620px) {}
@media (max-width: 550px) {}
    */
%white {
  border: 1px solid #fff;
}

body {
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
}
.top {
  position: relative;
  width: 100vw;
  height: 675px;
  background: url('../src/wood_22.jpg') center bottom/cover no-repeat;
  @media (max-width: 1000px) {
    height: 500px;
  }
  @media (max-width: 768px) {
    height: 400px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 33.33%;
  height: 10vh;
}
.header__burger {
  display: flex;
  flex-direction: column;
  width: 24px;
  flex-shrink: 0;
}
.header__burger__board {
  height: 1px;
  background-color: #bea67c;
  margin: 2px;
}
.header__third {
  display: flex;
  align-items: center;
  color: #ffffff;
  a {
    color: #ffffff;
  }
}
.header__menus {
  opacity: 0.5;
  font-family: "ProximaNova";
  font-size: 10px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
.header__menus_left {
  @media (max-width: 1220px) {
    padding-left: 15px;
  }
}
.header__third_left {
  margin-left: 1.2%;
  justify-content: space-between;
  width: 5%;
}
.header__third_center {
  justify-content: flex-end;
  flex: 1 1 49%;
  max-width: 49%;
}
.header__center_img {
  display: flex;
  flex: 1 0 auto;
  width: 57.5%;
  border: 1px solid transparent;
  justify-content: flex-end;
  align-items: flex-start;
  img {
    max-width: 39.2%;
    margin: 0 18.3% 1.4% 0;
    @media (max-width: 1220px) {
      height: 15px;
      max-width: none;
    }
    @media (max-width: 550px) {
      display: none;
    }
  }
  @media (max-width: 768px) {
    justify-content: center;
  }
}
.header__center__menu {
  width: 42.5%;
  display: flex;
  justify-content: space-between;
  a {
    &:nth-child(even) {
      margin-left: 5%;
    }
    @media (max-width: 768px) {
      &:last-child {
        padding-left: 7px;
      }
  }
  
  }
  @media (max-width: 620px) {
    display: none;
  }
}
.header__third_right {
  justify-content: space-between;
  max-width: 5.7%;
  flex: 1 1 5%;
  margin-right: 1.5%;
  @media (max-width: 768px) {
    max-width: 12%;
    flex: 1 0 25%;
  }
}
.header__right__info {
  width: 17px;
  height: 17px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #bea67c;
  border-radius: 50%;
}
.header__right__triangle {
  width: 0;
  margin-left: 10%;
  border-top: 2px solid #bea67c;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}
.header__right__menu {
  display: flex;
  align-items: center;
  padding-right: 5%;
}
.wooder__container {
  margin: 0 auto;
  height: 72.5%;
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  @media (max-width: 1220px) {
    justify-content: center;
  }
}
// Slick-slider
.wooder__left {
  position: relative; //Для стрелок
  width: 16%;
  padding-top: 13%;
  min-width: 0;  // Нужно если флекс
  .slick-arrow {
    display: none;
    position: absolute; // Выравниваем стрелки
    top: 15%;
    z-index: 10; //Стрелки поверх слайдеров
    font-size: 0; //  Убрать надписи на кнопках 
  }
  .slick-prev {
    height: 30px; // Стрелки
    width: 30px;  // Стрелки
    background: url(../src/slick_left.png) 0 0/cover no-repeat; // Стрелки
  }
  .slick-next {
    right: 0;
    height: 30px;  // Стрелки
    width: 30px;  // Стрелки
    //background: url(../src/slick_right.png) 0 0/cover no-repeat; // Стрелки
  }
}
.slider-container {
  //text-align: center; // Для выравнивания слайда
  min-width: 0;  // Нужно если флекс
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    padding: 5% 0;
  }
}
.slick-track {
  display: block;
}
.slick-list {
  overflow: hidden;
}
/* Точки (булиты) */
.wooder__left .slick-dots{ // Это ul с точками li
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25% 31%;
}
.wooder__left .slick-dots li{ // Это сами точки
  list-style: none;
  margin: 8px 0px;
}
/* Активная точка */
.wooder__left .slick-dots li.slick-active button{
  opacity: 1;
  background-color: #bea67c;
}
/* Элемент точки */
.wooder__left  .slick-dots li button{
  font-size: 0;
  width: 6px;
  height: 6px;
  opacity: 0.2;
  background-color: #bea67c;
  border-radius: 50%;
}
// /Slick-slider

.wooder__center {
  width: 50%;
  padding-left: 13.7%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media (max-width: 1000px) {
    justify-content: center;
  }
}
.wooder__center__head {
  font-family: 'ProximaNovaB';
  font-size: 65px;
  line-height: 65px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bea67c;
  padding-bottom: 7%;
  @media (max-width: 768px) {
    margin-top: 45%;
    font-size: 50px;
  }
  @media (max-width: 550px) {
    font-size: 35px;
  }
}
.wooder__center__learn {
  a {
    font-family: 'ProximaNova';
    font-size: 9px;
    line-height: 49px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #ffffff;
    border: 2px solid #fff;
    padding: 3% 17% 3% 14.5%;
    background: url(../src/arrow_right.png) 78% 50% no-repeat;
    @media (max-width: 1000px) {
      background: none;
    }
  }
  padding: 0 0 10% 1%;
  width: 115%;
}
.wooder__center__bottom {
  padding: 1.5% 0 3.5% 1%;
  a {
    img {
      width: 4.3%;
    }
  }
  @media (max-width: 1000px) {
    display: none;
  }
}

.wooder__right {
  width: 30%;
  opacity: 0.2;
  font-family: "ProximaNova";
  font-size: 9.7px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
  color: #a9946e;
}
.wooder__right__rotate {
  white-space: nowrap;
  white-space: pre;
  transform: rotate(90deg);
  position: absolute;
  top: 45%;
  right: 0;
  padding-right: 12px;
  @media (max-width: 550px) {
    display: none;
  }
}
.wooder__share {
  position: absolute;
  right: 20px;
  bottom: 16px;
}
.wooder__f {
  position: absolute;
  left: 18%;
  bottom: -22.5%;
  opacity: 0.07;
  font-family: "ProximaNovaB";
  font-size: 260px;
  line-height: 312px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bea67c;
  @media (max-width: 768px) {
    bottom: -40.5%;
  }
}
.wooder__board {
  position: absolute;
  right: 18.8%;
  bottom: -2.1%;
  width: 2px;
  height: 33px;
  background-color: #bea67c;
  @media (max-width: 768px) {
    bottom: -3.5%;
  }
}
.furniture__container {
  border: 1px solid transparent;
  width: 65%;
  margin: 0 auto;
  height: 410px;
  min-height: 65vh;
  position: relative;
  padding: 3.9% 0 0 0;
  @media (max-width: 1000px) {
    width: 90%;
    height: 310px;
  }
  @media (max-width: 620px) {
    height: 250px;
  }
}
.furniture__flex {
  display: flex;
  justify-content: space-between;
  height: 300px;
  @media (max-width: 1000px) {
    height: 250px;
  }
  @media (max-width: 768px) {
    width: 95%;
  }
  @media (max-width: 620px) {
    flex-direction: column;
    height: 350px;
    margin-top: 10%;
  }
}
.furniture__half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:first-child {
    padding: 0 0 1.9% 0;
  }
  &:last-child {
    flex: 0 0 51.5%;
    background: url(../src/furniture.png) 0 0/101% auto no-repeat;
    @media (max-width: 768px) {
      background-position: 10% 60%;
    }
    @media (max-width: 620px) {
      display: none;
    }
  }
}
.furniture__row_top {
  font-family: "ProximaNovaB";
  font-size: 33px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #010101;
  padding-left: 36.5%;
  background: url(../src/board__furniture.png) 8.5% 45%/26% auto no-repeat;
}
.furniture__row_cent {
  border: 1px solid transparent;
  font-family: "ProximaNova";
  font-size: 10.1px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding: 1.3% 0 1.7% 36.5%;
  background: url(../src/m_board__furniture.png) 26.5% 20%/7.5% auto no-repeat;
  color: #464646;
  word-wrap: break-word;
}
.furniture__row_bot {
  margin-left: 36.5%;
  a {
    display: inline-block;
    color: #000;
    font-family: 'ProximaNovaB';
    font-size: 10px;
    width: 118px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    padding: 3% 3% 3% 1%;
    background: url(../src/arrow__furniture.png) 4px 10px/85% 50% no-repeat;
  }
}
.furniture__number {
  position: absolute;
  left: 4.4%;
  bottom: 16.5%;
  font-family: 'ProximaNovaB';
  font-size: 23.5px;
  line-height: 71px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  span {
    color: #bea67c;
  }
}
.furniture__board {
  position: absolute;
  left: 6%;
  bottom: -1.2%;
  width: 2px;
  height: 33px;
  background-color: #bea67c;
}
.furniture__big {
  position: absolute;
  right: -53.4%;
  top: 16%;
  opacity: 0.2;
  font-family: 'ProximaNovaB';
  font-size: 110px;
  line-height: 251px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #d0d0d0;
  @media (max-width: 620px) {
    display: none;
  }
}
.decor__container {
  width: 64.5%;
  margin: 0 auto;
  height: 400px;
  min-height: 65vh;
  position: relative;
  padding: 6.1% 0 0 0;
  @media (max-width: 1000px) {
    width: 90%;
    height: 310px;
  }
  @media (max-width: 620px) {
    height: 250px;
  }
}
.decor__flex {
  display: flex;
  height: 300px;
  
}
.decor__half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  &:first-child {
    flex: 0 0 51.5%;
    margin-left: 1%;
    background: url(../src/furniture_2.png) 0 0/101% auto no-repeat;
    @media (max-width: 620px) {
      display: none;
    }
  }
  &:last-child {
    padding: 0 0 2.1% 0;
  }
}
.decor__row_top {
  border: 1px solid transparent;
  font-family: "ProximaNovaB";
  font-size: 33px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #010101;
  padding-right: 33.5%;
  background: url(../src/board__furniture.png) 93.5% 45%/40.4% 5% no-repeat;
}
.decor__row_cent {
  display: inline-block;
  font-family: "ProximaNova";
  text-align: right;
  max-height: 55px;
  overflow: hidden;
  font-size: 10.1px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding: 1.3% 33.5% 0 17%;
  background: url(../src/m_board__furniture.png) 77% 23%/8% auto no-repeat;
  color: #464646;
}
.decor__row_bot {
  border: 1px solid transparent;
  margin: 2% 32.5% 0 0;
  min-width: 30%;
  a {
    border: 1px solid transparent;
    display: inline-block;
    color: #000;
    width: 118px;
    font-family: 'ProximaNovaB';
    font-size: 10px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    padding: 4% 3% 3% 1%;
    background: url(../src/arrow__furniture.png) 2px 9px/90% 60% no-repeat;
  }
}
.decor__number {
  position: absolute;
  right: 1.8%;
  bottom: 7.5%;
  font-family: 'ProximaNovaB';
  font-size: 23.5px;
  line-height: 71px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  span {
    color: #bea67c;
  }
}
.decor__d {
  position: absolute;
  right: -11.5%;
  top: -30.4%;
  opacity: 0.07;
  font-family: "ProximaNovaB";
  font-size: 260px;
  line-height: 312px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bea67c;
}
.decor__board {
  position: absolute;
  right: 4.8%;
  bottom: -3.9%;
  width: 3px;
  height: 33px;
  background-color: #bea67c;
}
.decor__big {
  position: absolute;
  left: -27.4%;
  top: 23%;
  opacity: 0.2;
  font-family: 'ProximaNovaB';
  font-size: 110px;
  line-height: 251px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #d0d0d0;
  @media (max-width: 620px) {
    display: none;
  }
}
.quality__container {
  position: relative;
  max-width: 658px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quality__header {
  font-family: 'ProximaNovaB';
  font-size: 33px;
  line-height: 71px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #000000;
  padding: 9.7% 0 11px 1.7%;
}
.quality__board {
  width: 17px;
  height: 2px;
  background-color: #bea67c;
  margin-right: 8.5%;
}
.quality__board_big {
  position: absolute;
  top: 132px;
  left: 48.9%;
  width: 28px;
  height: 3px;
}
.quality__text {
  text-align: center;
  max-width: 370px;
  font-family: 'ProximaNova';
  font-size: 9.7px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #636262;
  padding: 0 0 0 1.5%;
}
.quality__flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 6.9% 0 0 4.2%;
}
.quality__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quality__column__img {
  img {
    width: 90%;
  }
  padding-bottom: 8%;
}
.quality__column__text {
  font-family: 'ProximaNova';
  font-size: 11px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin: 4% 8% 0 0;
}
.quality__v {
  position: absolute;
  right: -22.5%;
  bottom: -65%;
  opacity: 0.07;
  font-family: "ProximaNovaB";
  font-size: 260px;
  line-height: 312px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bea67c;
}
.we__common {
  position: relative;
  background: url('../src/we_down.jpg') 0 0/101% auto no-repeat;
  height: 652px;
  margin: 8% 0 1.65% 0;
  padding: 4.6% 8.2% 0 9.5%;
  @media (min-width: 1400px) {
    height: 700px;
  }
  @media (max-width: 1000px) {
    height: 490px;
    background-size: auto 100%;
  }
  @media (max-width: 768px) {
    height: 330px;
  }
}
.we__container {
  border: 1px solid #50493e;
  margin: 0 auto;
}
.we__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 13% 0 11.5% 13%;
}
.we__header {
  font-family: 'ProximaNovaB';
  font-size: 30.4px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #bea67c;
  padding-left: 13.5%;
  background: url(../src/white_board.png) 1% 23%/22% 2px no-repeat;
  max-width: 455px;
  @media (max-width: 768px) {
    font-size: 20.4px;
    line-height: 25px;
    padding-left: 0;
    max-width: 80%;
    background: none;
  }
  
}
.we__text {
  font-family: ProximaNova;
  font-size: 9.7px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding: 2.1% 0 0 13.8%;
  max-width: 384px;
  background: url(../src/m_board__furniture.png) 20.7% 33%/7.8% 4px no-repeat;
  @media (max-width: 768px) {
    max-width: 80%;
    background: none;
    padding: 2.1% 0 5% 0;
  }
}
.we__button {
  a {
    display: inline-block;
    width: 100%;
    font-family: 'ProximaNova';
    font-size: 9px;
    line-height: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.22em;
    white-space: nowrap;
    color: #ffffff;
    padding: 0 0 0 35%;
    background: url(../src/player_small.png) 24% 46%/8.5% auto no-repeat;
    @media (max-width: 768px) {
      background-position: 17% 46%;
    }
  }
  width: 22.7%;
  border: 2px solid #fff; 
  margin: 3% 0 0 13.8%; 
  @media (max-width: 768px) {
    width: 52.7%;
  }
}
.we__a {
  position: absolute;
  right: 11.6%;
  bottom: -17%;
  opacity: 0.07;
  font-family: 'ProximaNovaB';
  font-size: 250px;
  line-height: 312px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bea67c;
}
.seki__common {
  width: 61%;
  margin: 0 auto;
  height: 290px;
  position: relative;
  border: 1px solid transparent;
  @media (max-width: 768px) {
    width: 90%;
    height: 400px;
  }
}
.seki__container {
  display: flex;
  height: 100%;
  @media (max-width: 768px) {
    flex-direction: column;
    height: unset;
    padding: 4% 4% 0 0;
  }
}
.seki__half__left {
  z-index: 1;
  width: 53%;
  border: 1px solid transparent;
  background: url(../src/seki.png) 0 0/101% auto no-repeat;
  @media (max-width: 768px) {
    height: 200px;
    width: 70%;
    align-self: center;
  }
}
.seki__half__right {
  width: 40%;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8.4% 0 0 7.3%;
  @media (max-width: 768px) {
    width: unset;
    padding: 2% 0 0 20%;
  }
}
.seki__row_top {
  position: relative;
  border: 1px solid transparent;
  font-family: "ProximaNovaB";
  font-size: 33px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #010101;
  img {
    display: inline-block;
    position: absolute;
    left: -66%;
    top: 41%;
    width: 56.5%;
    z-index: 5;
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.seki__row_cent {
  position: relative;
  display: inline-block;
  font-family: "ProximaNova";
  text-align: left;
  max-height: 60px;
  max-width: 95%;
  font-size: 10.1px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding: 2% 2% 1.3% 1%;
  img {
    display: inline-block;
    position: absolute;
    left: -19.5%;
    top: 21%;
    width: 13%;
    height: 3px;
    z-index: 5;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.seki__row_bot {
  border: 1px solid transparent;
  margin: 2% 32.5% 0 0;
  min-width: 45%;
  a {
    border: 1px solid transparent;
    display: inline-block;
    color: #000;
    font-family: 'ProximaNovaB';
    font-size: 10px;
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    padding: 5% 3% 8% 1%;
    background: url(../src/arrow__furniture.png) 2px 6px/97% 60% no-repeat;
  }
}
.seki__about {
  position: absolute;
  left: -37.4%;
  top: 3%;
  opacity: 0.2;
  font-family: 'ProximaNovaB';
  font-size: 110px;
  line-height: 251px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #d0d0d0;
  @media (max-width: 768px) {
    display: none;
  }
}


.footer {
  background: url(../src/wood_footer.jpg) 0 0/100% 101% no-repeat;
  height: 49px;
  margin-top: 4.7%;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 775px;
  margin: 0 auto;
}
.footer__left {
  font-family: 'ProximaNova';
  font-size: 9.6px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #464646;
  white-space: nowrap;
  margin-left: 2%;
}
.footer__center_img {
  margin: 0 0 0 14.5%;
  img {
    max-width: 75%;
  }
}
.footer__right {
  font-family: ProximaNova;
  font-size: 9.8px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #464646;
  a {
    white-space: nowrap;
    color: #7d7d7d;
  }
}