@import "_nullstyle";
// Шрифты
//@import url(https://fonts.googleapis.com/css?family=Federant:regular);
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: local('☺'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
//Шрифты
//Шаблоны
%black {
  border: 1px solid #000;
}
%white {
  border: 1px solid #fff;
}
%red {
  border: 1px solid rgb(247, 45, 45);
}
body {
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
}
.top {
  width: 100vw;
  height: 117vh;
  background-image: url('../src/wood_22.jpg');
  background-size: 100% auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 33.33%;
  height: 10vh;
}
.header__burger {
  display: flex;
  flex-direction: column;
  width: 24px;
  flex-shrink: 0;
}
.header__burger__board {
  height: 1px;
  background-color: #bea67c;
  margin: 2px;
}
.header__third {
  display: flex;
  align-items: center;
  color: #ffffff;
  a {
    color: #ffffff;
  }
}
.header__menus {
  opacity: 0.5;
  font-family: "ProximaNova";
  font-size: 10px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  
}
.header__third_left {
  margin-left: 1.2%;
  justify-content: space-between;
  width: 5%;
}
.header__third_center {
  justify-content: flex-end;
  flex: 1 1 49%;
  max-width: 49%;
}
.header__center_img {
  display: flex;
  width: 57.5%;
  justify-content: center;
  padding-left: 14%;
  img {
    width: 50%;
  }
}
.header__center__menu {
  width: 42.5%;
  display: flex;
  justify-content: space-between;
  a {
    &:nth-child(even) {
      margin-left: 5%;
    }
  }
}
.header__third_right {
  justify-content: space-between;
  max-width: 5.7%;
  flex: 1 1 5%;
  margin-right: 1.5%;

}
.header__right__info {
  width: 17px;
  height: 17px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #bea67c;
  border-radius: 50%;
}
.header__right__triangle {
  width: 0;
  margin-left: 10%;
  border-top: 2px solid #bea67c;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}
.header__right__menu {
  display: flex;
  align-items: center;
  padding-right: 5%;
}
//@extend %red;
.wooder__container {
  margin: 0 auto;
  height: 85vh;
  display: flex;
  justify-content: space-between;
  max-width: 900px;
}
.wooder__left {
  @extend %black;
}
.slider-container {
}
.wooder__center {
  @extend %black;
  width: 50%;
  padding-left: 6%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.wooder__center__head {
  font-family: 'ProximaNova';
  font-size: 65px;
  line-height: 65px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.21em;
  color: #bea67c;
}
.wooder__center__learn {
  a {
    font-family: 'ProximaNova';
    font-size: 9px;
    line-height: 49px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #ffffff;
    border: 2px solid #fff;
    padding: 3% 16% 3% 13.5%;
    background: url(../src/arrow_right.png) 78% 50% no-repeat;
  }
}
.wooder__center__bottom {
}
.wooder__center__bottom__mouse {
}
.wooder__center__bottom__arrow {
}
.wooder__center__bottom__scroll {
}
.wooder__right {
  opacity: 0.2;
  font-family: "ProximaNova";
  font-size: 9.7px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
  color: #a9946e;
}
.wooder__right__rotate {
  white-space: nowrap;
  white-space: pre;
  transform: rotate(90deg);
  position: absolute;
  top: 45%;
  right: 0;
  padding-right: 12px;
}